<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-embedded-pdf-viewer" version="0.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PdfViewer</name>
    <description>Native PDF viewer for iOS and Android</description>
    <engines>
        <engine name="cordova" version=">=6.0.0"/>
        <engine name="cordova-windows" version=">=4.4.0"/>
    </engines>

    <js-module name="PdfViewer" src="www/PdfViewer.js">
        <clobbers target="PdfViewer" />
    </js-module>

    <!-- ANDROID -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidNativePdfViewer">
                <param name="android-package" value="xyz.guutong.androidnativepdfviewer.AndroidNativePdfViewer" />
            </feature>
        </config-file>

        <!-- Application params -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="xyz.guutong.androidpdfviewer.PdfViewActivity" android:theme="@style/AppTheme"/>
        </config-file>

        <!-- Files -->
        <source-file src="src/android/AndroidNativePdfViewer.java" target-dir="src/xyz/guutong/androidnativepdfviewer" />
         <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <!-- Libs -->
        <source-file src="src/android/pdfviewer-library.aar" target-dir="libs"/>
        <framework src="src/android/AndroidNativePDFViewer.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SimplePDF">
                <param name="ios-package" value="SimplePDF"/>
            </feature>
        </config-file>
        <header-file src="src/ios/SimplePDF.h" />
        <source-file src="src/ios/SimplePDF.m" />
    </platform>

    <!-- Windows -->
    <platform name="windows">
        <js-module src="src/windows/sitewaertsdocumentviewerProxy_native.js"
                   name="SitewaertsDocumentViewerProxy">
            <merges target=""/>
        </js-module>

        <asset src="src/windows/sitewaertsdocumentviewer" target="sitewaertsdocumentviewer" />

        <asset src="src/common/js/winjs" target="sitewaertsdocumentviewer/js/winjs" />
        <asset src="src/common/js/angular" target="sitewaertsdocumentviewer/js/angular" />
        <asset src="src/common/js/angular-winjs/js" target="sitewaertsdocumentviewer/js/angular-winjs" />
        <asset src="src/common/js/pdfjs-dist/build" target="sitewaertsdocumentviewer/js/pdfjs-dist" />
    </platform>
</plugin>