<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-native-pdf-viewer" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativePdfViewer</name>
    <description>Native PDF viewer for iOS and Android</description>
    <engines>
        <engine name="cordova" version=">=6.0.0"/>
    </engines>

    <js-module name="NativePdfViewer" src="www/NativePdfViewer.js">
        <clobbers target="NativePdfViewer" />
    </js-module>

    <!-- ANDROID -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidNativePdfViewer">
                <param name="android-package" value="xyz.guutong.androidnativepdfviewer.AndroidNativePdfViewer" />
            </feature>
        </config-file>

        <!-- Application params -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="xyz.guutong.androidpdfviewer.PdfViewActivity" android:theme="@style/AppTheme"/>
        </config-file>

        <!-- Files -->
        <source-file src="src/android/AndroidNativePdfViewer.java" target-dir="src/xyz/guutong/androidnativepdfviewer" />
         <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <!-- Libs -->
        <source-file src="src/android/pdfviewer-library.aar" target-dir="libs"/>
        <framework src="src/android/AndroidNativePDFViewer.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SimplePDF">
                <param name="ios-package" value="SimplePDF"/>
            </feature>
        </config-file>
        <header-file src="src/ios/SimplePDF.h" />
        <source-file src="src/ios/SimplePDF.m" />
    </platform>
</plugin>